<div id="title" class="block">
  <h2><%= @title %></h2>    
</div>

<div id="operations" class="block">  
  <%= link_to 'Add new', new_admin_product_path %>  
</div>

<%= content_tag :div, :id => @klass, :class => "block" do %>
  <div id="column-names" class="block">
    <div class="items">
      <% @column_names.each_with_index do |column, index| %>
        <%= content_tag :div, column, :class => "item #{@columns[index]}" %>
      <% end %>
      <div class="item crud"> &nbsp; </div>
    </div>
  </div>

  <div id="columns" class="block">
    <% @products.each do |product| %>
      <%= content_tag :div, :class => "items #{cycle('even', 'odd')}" do %>      
        <% @columns.each do |column| %>
          <%= content_tag :div, scaffold_content_tag(product.send(column)), :class => "item #{column}" %>
        <% end %>    
        <div class="item crud">
          <%= link_to 'Show', [:admin, product] %>
          <%= link_to 'Edit', edit_admin_product_path(product) %>
          <%= link_to 'Destroy', [:admin, product], :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>


