<p id="notice"><%= notice %></p>

<% @columns.each_with_index do |column, index| %>
<p>
  <b><%= @column_names[index] %></b>
  <%= @product.send column %>
</p>
<% end %>


<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
